PORT= 
JWT_SECRET=
REDIS_HOST=
REDIS_PORT=
POSTGRES_USER=your_secure_user_here
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=auth_db_medhelp/anything
POSTGRES_PORT=
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@{postgres/localhost}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
PGADMIN_DEFAULT_EMAIL=pgadmin_email
PGADMIN_DEFAULT_PASSWORD=pgadmin_password